@media only screen and (max-width:768px){
    .nav-bar{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
      }
      .menues ul{
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
        align-items: center;
      }
      .banner {
        flex-direction: column-reverse;
        align-items: center;
  
      }
      .banner-image{
        margin-bottom: 20px;
      }

      /* My Experience  */
      .my-experience{
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .exp-details p {
        font-size: 14px;
      }
      .designation-text h1{
        font-size: 20px;
      }
      .awards-phone{
        flex-direction: column;
        align-items: center;
      }
      .project-description{
        flex-direction: column;
      }
      

}

